<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>


<script type="text/javascript" src="wc_app.js"></script>
<script type="text/javascript" src="controllers/wc_controller.js"></script>
<script type="text/javascript" src="controllers/st_controller.js"></script>
<script type="text/javascript" src="controllers/rt_controller.js"></script>
<script src="d3.js"></script>
<script src="build/d3.layout.cloud.js"></script>


<head>
    <meta charset="UTF-8">
    <title>D3 cloud</title>
</head>

<body ng-app = "wc_app">

<div class="jumbotron text-center">
    <h1>Tweets Word Cloud </h1>
    <p>Author: <a href="https://www.linkedin.com/in/bicheng-jiang/" target="_blank">Bicheng Jiang </a>, <a href="https://www.linkedin.com/in/chengsun3612/" target="_blank">Cheng Sun </a>,<a href="https://www.linkedin.com/in/yiming-sun-0907/" target="_blank"> Simon Sun</a> </p>
    <p>Instructor : Prof. Deepak Turaga</p>
</div>


<div class="container">
    <h3>
        Welcome to the tweets word cloud streaming system!
    </h3>

    <hr>
    <div class="container" style="width:100%">
        <div class="row">
            <div class="panel panel-default text-center" >
                <div class="panel-heading text-center" >

                    <a href="#/streaming/realtime"><h4> Real time Data Streaming Mode </h4> </a>
                </div>
            </div>

            <div class="panel panel-default text-center" >
                <div class="panel-heading text-center" >

                    <a href="#/streaming/static"><h4> Static Data Streaming Mode </h4> </a>
                </div>
            </div>


        </div>

    </div>
    <hr>
</div>

<div ng-view>

</div>


</body>
</html>
