
<div class="c1">
    <div class="input">

        <div ng-app="wc_app" ng-controller="st_controller">
            <div class="c1">
                <form class="form-horizontal" role="form">
                    <div class="form-group has-success">
                        <label class="col-sm-3 control-label" for="steaming_rate">
                            Streaming Rate (in second):
                        </label>
                        <div class="col-sm-2">
                            <input type="number" ng-model="S_rate" class="form-control" id="steaming_rate">
                        </div>
                        <label class="col-sm-3 control-label" for="num_clouds">
                            Maximum number of word clouds displayed:
                        </label>
                        <div class="col-sm-2">
                            <input type="number" ng-model="MAX_clouds" class="form-control" id="num_clouds">
                        </div>
                    </div>


                    <hr>
                    <div class="col-md-8 col-sm-offset-2 text-center">
                        <button class="btn btn-success" ng-click="begin()">
                            <span class="glyphicon glyphicon-play"></span>Begin
                        </button>


                        <button class="btn btn-success" ng-click="pause()">
                            <span class="glyphicon glyphicon-pause"></span>Pause
                        </button>

                        <button class="btn btn-success" ng-click="continue()">
                            <span class="glyphicon glyphicon-step-forward"></span>Continue
                        </button>


                        <button class="btn btn-success" ng-click="clear()">
                            <span class="glyphicon glyphicon-stop"></span>Clear
                        </button>
                    </div>
                    <hr>
                </form>
            </div>


            <hr>

            <div class="container" style="width:100%">
                <div class="row">
                    <div class="panel panel-default text-center" >
                        <div class="panel-heading text-center" >
                            <p> Streaming Progress </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow={{progress}}
                                     aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
                                    {{progress}} %
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <hr>



        </div>

    </div>

    <div id="vis"></div>
</div>
